
<section class="industry-areas">
    <div class="grid-container">
        <div class="programs-grid grid-x small-up-1 medium-up-2">
            @Html.Sitecore().Placeholder("contentcards")
        </div>
    </div>
</section>
