@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.RequestInformationModel



<div class="main two-column">
    <div class="content">
        <div class="thank-you-content">
            <h1>@Html.Raw(Model.Body)</h1>
            <div class="message">
                <p>
                   @Html.Raw(Model.SuccessMessage)
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar sidebar-right form_leadgen">
    </div>
</div>
