.icon-bars {
  width: 17px;
  height: 20px;
}

.icon-briefcase {
  width: 20px;
  height: 20px;
}

.icon-calendar-round {
  width: 19px;
  height: 20px;
}

.icon-calendar-square {
  width: 20px;
  height: 20px;
}

.icon-chevron-down {
  width: 20px;
  height: 20px;
}

.icon-chevron-right {
  width: 20px;
  height: 20px;
}

.icon-comments-o {
  width: 20px;
  height: 20px;
}

.icon-comments {
  width: 20px;
  height: 20px;
}

.icon-desktop {
  width: 21px;
  height: 20px;
}

.icon-download {
  width: 15px;
  height: 20px;
}

.icon-duo-persons {
  width: 33px;
  height: 20px;
}

.icon-envelope {
  width: 20px;
  height: 20px;
}

.icon-flag {
  width: 20px;
  height: 20px;
}

.icon-graduation-cap {
  width: 26px;
  height: 20px;
}

.icon-info-circle {
  width: 17px;
  height: 20px;
}

.icon-laptop {
  width: 21px;
  height: 20px;
}

.icon-mail-forward {
  width: 20px;
  height: 20px;
}

.icon-people-group {
  width: 21px;
  height: 20px;
}

.icon-phone {
  width: 16px;
  height: 20px;
}

.icon-piggy-bank {
  width: 20px;
  height: 20px;
}

.icon-search {
  width: 19px;
  height: 20px;
}

.icon-share-square-o {
  width: 19px;
  height: 20px;
}

.icon-social-facebook-square {
  width: 17px;
  height: 20px;
}

.icon-social-google-plus {
  width: 26px;
  height: 20px;
}

.icon-social-instagram {
  width: 17px;
  height: 20px;
}

.icon-social-linkedin-square {
  width: 17px;
  height: 20px;
}

.icon-social-youtube-play {
  width: 20px;
  height: 20px;
}

.icon-speech-square {
  width: 25px;
  height: 20px;
}

.ras-logo-horizontal-white {
  width: 576px;
  height: 121.86px;
}
.color-white{fill: #fff;}
.opaque-35{opacity: 0.35;}
.opaque-89{opacity: 0.89;}
.color-white-opaque-38{fill: #fff; opacity: 0.38;}

.ras-logo-horizontal {
  width: 558px;
  height: 116.76px;
}
.brand-green-dark{fill: #004712}
.brand-green-light{fill: #517f56}
.brand-yellow-dark{fill: #eeb111}
.brand-yellow-light{fill: #f8e39a}

.ras-logo-stacked-white {
  width: 389.91px;
  height: 197.58px;
}
.color-white{fill:#fff}
.opaque-35{opacity:.35}
.opaque-89{opacity:.89}
.color-white-opaque-38{fill:#fff;opacity:.38}

.ras-logo-stacked {
  width: 387.5px;
  height: 196.36px;
}
.brand-green-dark{fill:#004712}
.brand-green-light{fill:#527f57}
.brand-yellow-dark{fill:#edb21f}
.brand-yellow-light{fill:#f8e39a}

.icon-01-online-class-colored-rshs {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-01-online-class-white-rshs {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-02-360-support-colored-rshs {
  width: 53.03px;
  height: 49.24px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.fill-empty{fill:none}

.icon-02-360-support-white-rshs {
  width: 53.03px;
  height: 49.24px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-empty{fill:none}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-03-accreditation-colored-rshs {
  width: 70.96px;
  height: 48.88px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-03-accreditation-white-rshs {
  width: 70.96px;
  height: 48.88px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-04-certficiate-exam-colored-rshs {
  width: 42.67px;
  height: 48.83px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.opacity20{opacity:.2}
.rshs-colored{fill:#2a8d82}

.icon-04-certficiate-exam-white-rshs {
  width: 42.67px;
  height: 48.83px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-white{fill:#fff}
.opacity30{opacity:.3}

.icon-05-flexchoice-colored-rshs {
  width: 43.65px;
  height: 49px;
}
.opacity20{opacity:.2}
.rshs-colored{fill:#2a8d82}
.rshs-colored-stroke10{fill:none;stroke:#00aeef;stroke-miterlimit:10;stroke-width:3px}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-05-flexchoice-white-rshs {
  width: 43.65px;
  height: 48.92px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}
.rshs-colored-stroke10{fill:none;stroke:#00aeef;stroke-miterlimit:10;stroke-width:3px}

.icon-06-hands-on-colored-rshs {
  width: 50.43px;
  height: 49.01px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-06-hands-on-white-rshs {
  width: 50.81px;
  height: 49.01px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-07-time-complete-colored-rshs {
  width: 85.78px;
  height: 49.17px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.rshs-colored{fill:#2a8d82}
.opacity20{opacity:.2}

.icon-07-time-complete-white-rshs {
  width: 85.78px;
  height: 49.17px;
}
.color-white-opacity30{fill:#fff;opacity:.3}
.color-white{fill:#fff}
.opacity30{opacity:.3}

.icon-08-what-learn-colored-rshs {
  width: 60.17px;
  height: 49.26px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.fill-empty{fill:none}
.fill-white{fill:#fff}

.icon-08-what-learn-white-rshs {
  width: 60.17px;
  height: 49.26px;
}
.fill-white{fill:#fff}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-empty{fill:none}

.icon-09-faculty-colored-rshs {
  width: 80.18px;
  height: 49.34px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-09-faculty-white-rshs {
  width: 80.18px;
  height: 49.34px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-10-affordability-colored-rshs {
  width: 35.35px;
  height: 49.99px;
}
.fill-empty{fill:none}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-10-affordability-white-rshs {
  width: 35.35px;
  height: 49.99px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-11-career-advice-colored-rshs {
  width: 85.88px;
  height: 48.76px;
}
.rshs-color-opacity20{fill:#2a8d82;opacity:.2}

.icon-11-career-advice-white-rshs {
  width: 81.61px;
  height: 48.76px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-12-job-outcomes-colored-rshs {
  width: 73.99px;
  height: 49.32px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-12-job-outcomes-white-rshs {
  width: 73.99px;
  height: 49.32px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-13-24hr-support-colored-rshs {
  width: 58.83px;
  height: 55px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.fill-white{fill:#fff}
.rshs-colored-light{fill:#82bfb0}

.icon-13-24hr-support-white-rshs {
  width: 56.54px;
  height: 50.41px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-14-power-healing-colored-rshs {
  width: 72.11px;
  height: 48.78px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-14-power-healing-white-rshs {
  width: 72.11px;
  height: 48.78px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-15-program-skills-colored-rshs {
  width: 49.44px;
  height: 49.38px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-15-program-skills-white-rshs {
  width: 49.44px;
  height: 49.38px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-16-building-career-colored-rshs {
  width: 44.88px;
  height: 49.82px;
}
.rshs-colored{fill:#2a8d82}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-16-building-career-white-rshs {
  width: 44.88px;
  height: 49.82px;
}
.fill-white{fill:#fff}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-17-pro-skillset-colored-rshs {
  width: 58.77px;
  height: 40.21px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.fill-empty{fill:none}

.icon-17-pro-skillset-white-rshs {
  width: 58.77px;
  height: 40.21px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.fill-white-opacity20{fill:#fff;opacity:.2}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.fill-white-opacity40{fill:#fff;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-empty{fill:none}

.icon-18-community-colored-rshs {
  width: 54.1px;
  height: 42.06px;
}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}

.icon-18-community-white-rshs {
  width: 54.1px;
  height: 42.06px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-19-cost-savings-colored-rshs {
  width: 60px;
  height: 49.99px;
}
.rshs-colored-opacity20{fill:#2a8d82;opacity:.2}
.rshs-colored-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}

.icon-19-cost-savings-white-rshs {
  width: 60px;
  height: 49.99px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-20-credit-transfer-colored-rshs {
  width: 74.55px;
  height: 51.26px;
}
.rshs-colored-dark-opacity40{fill:#2a8d82;opacity:.4}
.rshs-colored-dark-opacity70{fill:#2a8d82;opacity:.7}
.rshs-colored-light-opacity60{fill:#82bfb0;opacity:.6}
.rshs-colored-dark-opacity20{fill:#2a8d82;opacity:.2}

.icon-20-credit-transfer-white-rshs {
  width: 74.55px;
  height: 51.26px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.rshs-colored-opacity70{fill:#2a8d82;opacity:.7}
.fill-white-opacity60{fill:#fff;opacity:.6}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-01-online-class-colored-rsb {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-01-online-class-white-rsb {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-02-360-support-colored-rsb {
  width: 53.03px;
  height: 49.24px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-empty{fill:none}

.icon-02-360-support-white-rsb {
  width: 53.03px;
  height: 49.24px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-empty{fill:none}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-03-accreditation-colored-rsb {
  width: 70.96px;
  height: 48.88px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-03-accreditation-white-rsb {
  width: 70.96px;
  height: 48.88px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-04-certficiate-exam-colored-rsb {
  width: 42.67px;
  height: 48.83px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.opacity20{opacity:.2}
.fill-rsb{fill:#c3002f}

.icon-04-certficiate-exam-white-rsb {
  width: 42.67px;
  height: 48.83px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}

.icon-05-flexchoice-colored-rsb {
  width: 43.65px;
  height: 49px;
}
.opacity20{opacity:.2}
.fill-rsb{fill:#c3002f}
.fill-empty-stroke10-rsb{fill:none;stroke:#00aeef;stroke-miterlimit:10;stroke-width:3px}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-05-flexchoice-white-rsb {
  width: 43.65px;
  height: 48.92px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}
.fill-empty-stroke10-rsb{fill:none;stroke:#00aeef;stroke-miterlimit:10;stroke-width:3px}

.icon-06-hands-on-colored-rsb {
  width: 50.43px;
  height: 49.01px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-06-hands-on-white-rsb {
  width: 50.81px;
  height: 49.01px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-07-time-complete-colored-rsb {
  width: 85.78px;
  height: 49.17px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.opacity20{opacity:.2}
.fill-rsb{fill:#c3002f}

.icon-07-time-complete-white-rsb {
  width: 85.78px;
  height: 49.17px;
}
.fill-empty-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}

.icon-08-what-learn-colored-rsb {
  width: 60.17px;
  height: 49.26px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-empty{fill:none}
.fill-white{fill:#fff}

.icon-08-what-learn-white-rsb {
  width: 60.17px;
  height: 49.26px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-empty{fill:none}
.fill-white{fill:#fff}

.icon-09-faculty-colored-rsb {
  width: 80.18px;
  height: 49.34px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-09-faculty-white-rsb {
  width: 80.18px;
  height: 49.34px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-10-affordability-colored-rsb {
  width: 35.35px;
  height: 49.99px;
}
.fill-empty{fill:none}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-10-affordability-white-rsb {
  width: 35.35px;
  height: 49.99px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-11-career-advance-colored-rsb {
  width: 85.88px;
  height: 48.76px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-11-career-advance-white-rsb {
  width: 81.61px;
  height: 48.76px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-12-job-outcomes-colored-rsb {
  width: 73.99px;
  height: 49.32px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-12-job-outcomes-white-rsb {
  width: 73.99px;
  height: 49.32px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-13-24hr-support-colored-rsb {
  width: 56.55px;
  height: 50.41px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}

.icon-13-24hr-support-white-rsb {
  width: 56.54px;
  height: 50.41px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-14-power-healing-colored-rsb {
  width: 72.11px;
  height: 48.78px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-14-power-healing-white-rsb {
  width: 72.11px;
  height: 48.78px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-15-program-skills-colored-rsb {
  width: 49.44px;
  height: 49.38px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-15-program-skills-white-rsb {
  width: 49.44px;
  height: 49.38px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-16-building-career-colored-rsb {
  width: 44.88px;
  height: 49.82px;
}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-rsb{fill:#c3002f}

.icon-16-building-career-white-rsb {
  width: 44.88px;
  height: 49.82px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white{fill:#fff}

.icon-17-pro-skillset-colored-rsb {
  width: 58.77px;
  height: 40.21px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}
.fill-empty{fill:none}

.icon-17-pro-skillset-white-rsb {
  width: 58.77px;
  height: 40.21px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-empty{fill:none}

.icon-18-community-colored-rsb {
  width: 54.1px;
  height: 42.06px;
}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-18-community-white-rsb {
  width: 54.1px;
  height: 42.06px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-19-cost-savings-colored-rsb {
  width: 60px;
  height: 49.99px;
}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}

.icon-19-cost-savings-white-rsb {
  width: 60px;
  height: 49.99px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-20-credit-transfer-colored-rsb {
  width: 74.55px;
  height: 51.26px;
}
.fill-rsb-opacity40{fill:#c3002f;opacity:.4}
.fill-rsb-opacity70{fill:#c3002f;opacity:.7}
.fill-rsb-opacity60{fill:#c3002f;opacity:.6}
.fill-rsb-opacity20{fill:#c3002f;opacity:.2}

.icon-20-credit-transfer-white-rsb {
  width: 74.55px;
  height: 51.26px;
}
.fill-white-opacity40{fill: #fff; opacity: .4}
.fill-white-opacity70{fill: #fff; opacity: .7}
.fill-white-opacity60{fill: #fff; opacity: .6}
.fill-white-opacity20{fill: #fff; opacity: .2}
.fill-rsb-opacity70{fill: #c3002f; opacity: .7}

.icon-21-quotes-colored-rsb {
  width: 59.26px;
  height: 63.25px;
}
.fill-rsb-opacity10{fill: #c3002f; opacity: 0.1;}
.fill-rsb-opacity70{fill: #c3002f; opacity: 0.7;}
.fill-rsb-opacity50{fill: #c3002f; opacity: 0.5;}

.icon-21-quotes-white-rsb {
  width: 59.26px;
  height: 63.25px;
}
.fill-white-opacity10{fill: #fff; opacity: 0.1;}
.fill-white-opacity70{fill: #fff; opacity: 0.7;}
.fill-white-opacity50{fill: #fff; opacity: 0.5;}

.icon-01-online-class-colored-rsn {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill: none}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}

.icon-01-online-class-white-rsn {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill: none}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}
.fill-white-opacity30{fill: #fff; opacity: .3}

.icon-02-360-support-colored-rsn {
  width: 53.03px;
  height: 49.24px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}
.fill-empty{fill: none}

.icon-02-360-support-white-rsn {
  width: 53.03px;
  height: 49.24px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}
.fill-empty{fill: none}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}

.icon-03-accreditation-colored-rsn {
  width: 70.96px;
  height: 48.88px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}

.icon-03-accreditation-white-rsn {
  width: 70.96px;
  height: 48.88px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}

.icon-04-certficiate-exam-colored-rsn {
  width: 42.67px;
  height: 48.83px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}
.opacity20{opacity: .2}
.fill-rsn{fill: #047dae}

.icon-04-certficiate-exam-white-rsn {
  width: 42.67px;
  height: 48.83px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}
.opacity30{opacity: .3}
.fill-white{fill: #fff}

.icon-05-flexchoice-colored-rsn {
  width: 43.65px;
  height: 49px;
}
.opacity20{opacity: .2}
.fill-rsn{fill: #047dae;}
.fill-empty-stroke10-rsn{fill: none; stroke: #047dae; stroke-miterlimit: 10; stroke-width: 3px}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}

.icon-05-flexchoice-white-rsn {
  width: 43.65px;
  height: 48.92px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}
.opacity30{opacity: .3}
.fill-white{fill: #fff}
.fill-empty-stroke10-rsn{fill: none; stroke: #047dae; stroke-miterlimit: 10; stroke-width: 3px}

.icon-06-hands-on-colored-rsn {
  width: 50.43px;
  height: 49.01px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}

.icon-06-hands-on-white-rsn {
  width: 50.81px;
  height: 49.01px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}
.fill-white-opacity20{fill: #fff; opacity: .2}

.icon-07-time-complete-colored-rsn {
  width: 85.78px;
  height: 49.17px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}
.opacity20{opacity: .2}
.fill-rsn{fill: #047dae;}

.icon-07-time-complete-white-rsn {
  width: 85.78px;
  height: 49.17px;
}
.fill-empty-opacity30{fill: #fff; opacity: .3;}
.opacity30{opacity: .3;}
.fill-white{fill: #fff;}

.icon-08-what-learn-colored-rsn {
  width: 60.17px;
  height: 49.26px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}
.fill-empty{fill: none;}
.fill-white{fill: #fff;}

.icon-08-what-learn-white-rsn {
  width: 60.17px;
  height: 49.26px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-empty{fill: none;}
.fill-white{fill: #fff;}

.icon-09-faculty-colored-rsn {
  width: 80.18px;
  height: 49.34px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-09-faculty-white-rsn {
  width: 80.18px;
  height: 49.34px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-white-opacity30{fill: #fff; opacity: .3;}

.icon-10-affordability-colored-rsn {
  width: 35.35px;
  height: 49.99px;
}
.fill-empty{fill: none;}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-10-affordability-white-rsn {
  width: 35.35px;
  height: 49.99px;
}
.fill-white-opacity30{fill: #fff; opacity: .3}

.icon-11-career-advance-colored-rsn {
  width: 85.88px;
  height: 48.76px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-11-career-advance-white-rsn {
  width: 81.61px;
  height: 48.76px;
}
.fill-white-opacity30{fill: #fff; opacity: .3;}

.icon-12-job-outcomes-colored-rsn {
  width: 73.99px;
  height: 49.32px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-12-job-outcomes-white-rsn {
  width: 73.99px;
  height: 49.32px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}

.icon-13-24hr-support-colored-rsn {
  width: 56.55px;
  height: 50.41px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2}
.fill-rsn-opacity40{fill: #047dae; opacity: .4}
.fill-rsn-opacity70{fill: #047dae; opacity: .7}

.icon-13-24hr-support-white-rsn {
  width: 56.54px;
  height: 50.41px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-white-opacity40{fill: #fff; opacity: .4;}
.fill-white-opacity70{fill: #fff; opacity: .7;}

.icon-14-power-healing-colored-rsn {
  width: 72.11px;
  height: 48.78px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-14-power-healing-white-rsn {
  width: 72.11px;
  height: 48.78px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}
.fill-white-opacity30{fill: #fff; opacity: .3;}

.icon-15-program-skills-colored-rsn {
  width: 49.44px;
  height: 49.38px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-15-program-skills-white-rsn {
  width: 49.44px;
  height: 49.38px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}

.icon-16-building-career-colored-rsn {
  width: 44.88px;
  height: 49.82px;
}
.fill-rsn-opacity40{fill: #047dae; opacity: .4;}
.fill-rsn-opacity70{fill: #047dae; opacity: .7;}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}
.fill-rsn{fill: #047dae;}

.icon-16-building-career-white-rsn {
  width: 44.88px;
  height: 49.82px;
}
.fill-white-opacity40{fill: #fff; opacity: .4;}
.fill-white-opacity70{fill: #fff; opacity: .7;}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-white{fill: #fff;}

.icon-17-pro-skillset-colored-rsn {
  width: 58.77px;
  height: 40.21px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}
.fill-rsn-opacity40{fill: #047dae; opacity: .4;}
.fill-rsn-opacity70{fill: #047dae; opacity: .7;}
.fill-empty{fill: none;}

.icon-17-pro-skillset-white-rsn {
  width: 58.77px;
  height: 40.21px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-empty{fill:none}

.icon-18-community-colored-rsn {
  width: 54.1px;
  height: 42.06px;
}
.fill-rsn-opacity40{fill: #047dae; opacity: .4;}
.fill-rsn-opacity70{fill: #047dae; opacity: .7;}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-18-community-white-rsn {
  width: 54.1px;
  height: 42.06px;
}
.fill-white-opacity40{fill: #fff; opacity: .4;}
.fill-white-opacity70{fill: #fff; opacity: .7;}
.fill-white-opacity20{fill: #fff; opacity: .2;}

.icon-19-cost-savings-colored-rsn {
  width: 60px;
  height: 49.99px;
}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}
.fill-rsn-opacity40{fill: #047dae; opacity: .4;}
.fill-rsn-opacity70{fill: #047dae; opacity: .7;}

.icon-19-cost-savings-white-rsn {
  width: 60px;
  height: 49.99px;
}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-white-opacity40{fill: #fff; opacity: .4;}
.fill-white-opacity70{fill: #fff; opacity: .7;}

.icon-20-credit-transfer-colored-rsn {
  width: 74.55px;
  height: 51.26px;
}
.fill-rsn-opacity40{fill: #047dae; opacity: .4;}
.fill-rsn-opacity70{fill: #047dae; opacity: .7;}
.fill-rsn-opacity60{fill: #047dae; opacity: .6;}
.fill-rsn-opacity20{fill: #047dae; opacity: .2;}

.icon-20-credit-transfer-white-rsn {
  width: 74.55px;
  height: 51.26px;
}
.fill-white-opacity40{fill: #fff; opacity: .4;}
.fill-white-opacity70{fill: #fff; opacity: .7;}
.fill-white-opacity60{fill: #fff; opacity: .6;}
.fill-white-opacity20{fill: #fff; opacity: .2;}
.fill-rsn-opacity70{fill: #779145; opacity: .7;}

.ras-logo-rsn {
  width: 240px;
  height: 45px;
}
.ras-brand-yellow{fill:#edaa00}
.ras-brand-green{fill:#2b5134}
.ras-green-faded{fill:#79917d}
.ras-brand-yellow-light{fill:#ffdfac}
.ras-school-rsn-medium{fill:#047dae}

.icon-01-online-class-colored-rst {
  width: 78.67px;
  height: 49.17px;
}
.fill-rst-opacity20{fill:#02bed6;opacity:.2}

.icon-01-online-class-white-rst {
  width: 78.67px;
  height: 49.17px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-02-360-support-colored-rst {
  width: 53.03px;
  height: 49.24px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-02-360-support-white-rst {
  width: 53.03px;
  height: 49.24px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-03-accreditation-colored-rst {
  width: 70.96px;
  height: 48.88px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-03-accreditation-white-rst {
  width: 70.96px;
  height: 48.88px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-04-certficiate-exam-colored-rst {
  width: 42.67px;
  height: 48.83px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-04-certficiate-exam-white-rst {
  width: 42.67px;
  height: 48.83px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-05-flexchoice-colored-rst {
  width: 43.65px;
  height: 49px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-05-flexchoice-white-rst {
  width: 43.65px;
  height: 49px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-06-hands-on-colored-rst {
  width: 50.43px;
  height: 49.01px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-06-hands-on-white-rst {
  width: 50.81px;
  height: 49.01px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-07-time-complete-colored-rst {
  width: 85.78px;
  height: 49.17px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-07-time-complete-white-rst {
  width: 85.78px;
  height: 49.17px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-08-what-learn-colored-rst {
  width: 60.17px;
  height: 49.26px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}
.fill-white{fill:#fff}

.icon-08-what-learn-white-rst {
  width: 60.17px;
  height: 49.26px;
}
.fill-white{fill:#fff}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-09-faculty-colored-rst {
  width: 80.18px;
  height: 49.34px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-09-faculty-white-rst {
  width: 80.18px;
  height: 49.34px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-10-affordability-colored-rst {
  width: 35.35px;
  height: 49.99px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-10-affordability-white-rst {
  width: 35.35px;
  height: 49.99px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-11-career-advance-colored-rst {
  width: 85.88px;
  height: 48.76px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-11-career-advance-white-rst {
  width: 81.61px;
  height: 48.76px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-12-job-outcomes-colored-rst {
  width: 73.99px;
  height: 49.32px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-12-job-outcomes-white-rst {
  width: 73.99px;
  height: 49.32px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-13-24hr-support-colored-rst {
  width: 55px;
  height: 52px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}

.icon-13-24hr-support-white-rst {
  width: 56.54px;
  height: 50.41px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-14-power-healing-colored-rst {
  width: 72.07px;
  height: 48.49px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-14-power-healing-white-rst {
  width: 72.07px;
  height: 48.49px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-15-program-skills-colored-rst {
  width: 49.44px;
  height: 49.38px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-15-program-skills-white-rst {
  width: 49.44px;
  height: 49.38px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-16-building-career-colored-rst {
  width: 44.88px;
  height: 49.82px;
}
.fill-rst{fill:#0ebfd6}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-16-building-career-white-rst {
  width: 44.88px;
  height: 49.82px;
}
.fill-white{fill:#fff}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-17-pro-skillset-colored-rst {
  width: 58.77px;
  height: 40.21px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}

.icon-17-pro-skillset-white-rst {
  width: 58.77px;
  height: 40.21px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-18-community-colored-rst {
  width: 54.1px;
  height: 42.06px;
}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-18-community-white-rst {
  width: 54.1px;
  height: 42.06px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-19-cost-savings-colored-rst {
  width: 60px;
  height: 49.99px;
}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}

.icon-19-cost-savings-white-rst {
  width: 60px;
  height: 49.99px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-20-credit-transfer-colored-rst {
  width: 74.55px;
  height: 51.26px;
}
.fill-rst-opacity40{fill:#0ebfd6;opacity:.4}
.fill-rst-opacity70{fill:#0ebfd6;opacity:.7}
.fill-rst-opacity60{fill:#0ebfd6;opacity:.6}
.fill-rst-opacity20{fill:#0ebfd6;opacity:.2}

.icon-20-credit-transfer-white-rst {
  width: 74.55px;
  height: 51.26px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity60{fill:#fff;opacity:.6}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-01-online-class-colored-ras {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-01-online-class-white-ras {
  width: 78.67px;
  height: 49.17px;
}
.fill-empty{fill:none}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-02-360-support-colored-ras {
  width: 53.03px;
  height: 49.24px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-empty{fill:none}

.icon-02-360-support-white-ras {
  width: 53.03px;
  height: 49.24px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-empty{fill:none}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-03-accreditation-colored-ras {
  width: 70.96px;
  height: 48.88px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-03-accreditation-white-ras {
  width: 70.96px;
  height: 48.88px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-04-certficiate-exam-colored-ras {
  width: 42.67px;
  height: 48.83px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.opacity20{opacity:.2}
.fill-ras{fill:#779145}

.icon-04-certficiate-exam-white-ras {
  width: 42.67px;
  height: 48.83px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}

.icon-05-flexchoice-colored-ras {
  width: 43.65px;
  height: 49px;
}
.opacity20{opacity:.2}
.fill-ras{fill:#779145}
.fill-empty-stroke10-ras{fill:none;stroke:#779145;stroke-miterlimit:10;stroke-width:3px}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-05-flexchoice-white-ras {
  width: 43.65px;
  height: 48.92px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}
.fill-empty-stroke10-ras{fill:none;stroke:#779145;stroke-miterlimit:10;stroke-width:3px}

.icon-06-hands-on-colored-ras {
  width: 50.43px;
  height: 49.01px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-06-hands-on-white-ras {
  width: 50.81px;
  height: 49.01px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-07-time-complete-colored-ras {
  width: 85.78px;
  height: 49.17px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.opacity20{opacity:.2}
.fill-ras{fill:#779145}

.icon-07-time-complete-white-ras {
  width: 85.78px;
  height: 49.17px;
}
.fill-empty-opacity30{fill:#fff;opacity:.3}
.opacity30{opacity:.3}
.fill-white{fill:#fff}

.icon-08-what-learn-colored-ras {
  width: 60.17px;
  height: 49.26px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-empty{fill:none}
.fill-white{fill:#fff}

.icon-08-what-learn-white-ras {
  width: 60.17px;
  height: 49.26px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-empty{fill:none}
.fill-white{fill:#fff}

.icon-09-faculty-colored-ras {
  width: 80.18px;
  height: 49.34px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-09-faculty-white-ras {
  width: 80.18px;
  height: 49.34px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-10-affordability-colored-ras {
  width: 35.35px;
  height: 49.99px;
}
.fill-empty{fill:none}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-10-affordability-white-ras {
  width: 35.35px;
  height: 49.99px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-11-career-advance-colored-ras {
  width: 85.88px;
  height: 48.76px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-11-career-advance-white-ras {
  width: 81.61px;
  height: 48.76px;
}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-12-job-outcomes-colored-ras {
  width: 73.99px;
  height: 49.32px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-12-job-outcomes-white-ras {
  width: 73.99px;
  height: 49.32px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-13-24hr-support-colored-ras {
  width: 56.55px;
  height: 50.41px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}

.icon-13-24hr-support-white-ras {
  width: 56.54px;
  height: 50.41px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-14-power-healing-colored-ras {
  width: 72.11px;
  height: 48.78px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-14-power-healing-white-ras {
  width: 72.11px;
  height: 48.78px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-white-opacity30{fill:#fff;opacity:.3}

.icon-15-program-skills-colored-ras {
  width: 49.44px;
  height: 49.38px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-15-program-skills-white-ras {
  width: 49.44px;
  height: 49.38px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-16-building-career-colored-ras {
  width: 44.88px;
  height: 49.82px;
}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-ras{fill:#779145}

.icon-16-building-career-white-ras {
  width: 44.88px;
  height: 49.82px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white{fill:#fff}

.icon-17-pro-skillset-colored-ras {
  width: 58.77px;
  height: 40.21px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}
.fill-empty{fill:none}

.icon-17-pro-skillset-white-ras {
  width: 58.77px;
  height: 40.21px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-empty{fill:none}

.icon-18-community-colored-ras {
  width: 54.1px;
  height: 42.06px;
}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-18-community-white-ras {
  width: 54.1px;
  height: 42.06px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity20{fill:#fff;opacity:.2}

.icon-19-cost-savings-colored-ras {
  width: 60px;
  height: 49.99px;
}
.fill-ras-opacity20{fill:#779145;opacity:.2}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}

.icon-19-cost-savings-white-ras {
  width: 60px;
  height: 49.99px;
}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}

.icon-20-credit-transfer-colored-ras {
  width: 74.55px;
  height: 51.26px;
}
.fill-ras-opacity40{fill:#779145;opacity:.4}
.fill-ras-opacity70{fill:#779145;opacity:.7}
.fill-ras-opacity60{fill:#779145;opacity:.6}
.fill-ras-opacity20{fill:#779145;opacity:.2}

.icon-20-credit-transfer-white-ras {
  width: 74.55px;
  height: 51.26px;
}
.fill-white-opacity40{fill:#fff;opacity:.4}
.fill-white-opacity70{fill:#fff;opacity:.7}
.fill-white-opacity60{fill:#fff;opacity:.6}
.fill-white-opacity20{fill:#fff;opacity:.2}
.fill-ras-opacity70{fill:#779145;opacity:.7}

