@Html.Sitecore().DynamicPlaceholder("gridimage")
<div class="cell large-6 small-order-3 large-order-1">
    <div class="grid-x">
        @Html.Sitecore().DynamicPlaceholder("simplegridcards")
    </div>
</div>
@Html.Sitecore().DynamicPlaceholder("gridimage")
<div class="cell large-6 small-order-5 large-order-4">
    <div class="grid-x">
        @Html.Sitecore().DynamicPlaceholder("simplegridcards")
    </div>
</div>
