<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <sites>
      <site name="Rasmusseen"
            hostName="prod.cd.ras.edu"
            targetHostName="prod.cd.ras.edu"
            enablePreview="false"
            enableWebEdit="false"
            enableDebugger="false"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes"/>
      <!--The reason for keeping them different is HTML caching-->
      <!--http://www.goblinrockets.com/2015/01/08/tip-sitecore-site-inheritance-configuration/-->
      <site name="Rasmussen-Live"
            hostName="www.rasmussen.edu|rasmussen.edu"
            targetHostName="www.rasmussen.edu"
            inherits="Rasmussen"
            xdt:Transform="Insert"
            patch:after="site[@name='Rasmussen']"/>
    </sites>
  </sitecore>
</configuration>