<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--This Processor will resolve Dynamic Placeholders of the same "type" to a single Placeholder Settings Item-->
      <getPlaceholderRenderings>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
      type="SitecoreExperienced.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, SitecoreExperienced.Pipelines.GetPlaceholderRenderings"/>
      </getPlaceholderRenderings>
    </pipelines>
    <!-- Pattern to use for dynamic placeholders -->
    <settings>
      <setting name="DynamicPlaceholderPattern" value="_SCEXP" />
    </settings>
  </sitecore>
</configuration>