<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="user id=sa;password=stagepassword;Data Source=stage-DB;Database=Sitecore_core" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="master" connectionString="user id=sa;password=stagepassword;Data Source=stage-DB;Database=Sitecore_master" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="web" connectionString="user id=sa;password=stagepassword;Data Source=stage-DB;Database=Sitecore_web" xdt:Transform="Replace" xdt:Locator="Match(name)" />

  <add name="reporting" connectionString="user id=sa;password=stagepassword;Data Source=stage-DB;Database=Sitecore_analytics" xdt:Transform="Replace" xdt:Locator="Match(name)" />
</connectionStrings>